* {
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  box-sizing: border-box;
  font-size: 100%;
  background-color: black;
  color:white;
  text-align: center;
}

h1, h2 {
  text-align: center;
  margin: 1rem;
  color: goldenrod;
}

h1 {
  font-size: 3rem;
}


.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
}

.row-center {
  justify-content: space-between;
 
  
}

.character-list {
  text-align: center;
  width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  border-radius: 0.5rem;
  border:.1rem solid goldenrod;
}


.character-list p {
  font-size: 1.5rem;
  text-align: center;
  margin-top: .5rem;
 
}

.character-img {
  max-height: 10rem;
  margin-top: 1rem;

}

button {
  font-size: 0.8rem;
  padding: 0.2rem;
  margin: .75rem;
  border-radius: 0.5rem;
  border: 0.1rem goldenrod;
  background-color:  goldenrod;
  width: 50%;
  cursor: pointer;
  color: black;
}

img.small {
  max-height: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;

  width: 50%;
}