.carousel-card--small {
  max-width: 100px;
}

.carousel-card__image {
  object-fit: cover;
}

.carousel-card__image--small {
  height: 100px;
  width: 100px;
  border-radius: 8px;
  transition: transform ease 0.3s;
}

.carousel-card__image--medium {
  height: 240px;
  width: 200px;
  border-radius: 10px;
}

.carousel-card__image:hover {
  transform: scale(1.1);
}
